/*데스크탑*/
body{ 
    background-color: darkseagreen;
}

/*테블릿*/
@media screen and (max-width: 720px){
    body{
        background-color: rgb(81, 181, 148);  /*max-width : and랑 ()붙이면x, : -> =이면x, 이런거 시험에 나옴*/
    }
}

/*모바일*/
@media screen and (max-width: 540px){
    body{
        background-color: rgb(46, 142, 110);
    }
}